@import './base/reset.css';
@import './base/variables.css';
@import './base/layout.css';


@import './components/button.css';
@import './components/button.css';
@import './components/button.css';
@import './components/button.css';
@import './components/button.css';



.bg-primary {
    background-color: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.container.hero {
    padding-bottom: 25px;
}

footer.container {
    padding-top: 0 ;
}