:root {
    --color-primary: #03a9f3;
    --color-secondary: #ea1e63;
    --color-dark:#000 ;
    --color-grey: #777;
    --color-white: #fff;
    --color-transparent-grey: rgba(235, 235, 235, 0.61);}